[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flake8 = "*"
black = "*"
isort = "*"
flask-restful = "*"
pre-commit = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask-script = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.10"
