[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flake8 = "==5.0.4"
black = "==22.6.0"
isort = "==5.10.1"
flask-restful = "==0.3.9"
pre-commit = "==2.20.0"
flask-sqlalchemy = "==2.5.1"
python-dotenv = "==0.20.0"
sqlalchemy = "==1.4.40"
psycopg2 = "==2.9.3"
flask-script = "==2.0.6"
flask-migrate = "==3.1.0"
webargs = "==8.2.0"
flask-swagger-ui = "==4.11.1"
alembic = "==1.8.1"
aniso8601 = "==9.0.1"
cfgv = "==3.3.1"
click = "==8.1.3"
colorama = "==0.4.5"
distlib = "==0.3.5"
filelock = "==3.8.0"
greenlet = "==1.1.2"
identify = "==2.5.3"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
mako = "==1.2.1"
markupsafe = "==2.1.1"
marshmallow = "==3.17.0"
mccabe = "==0.7.0"
mypy-extensions = "==0.4.3"
nodeenv = "==1.7.0"
pathspec = "==0.9.0"
platformdirs = "==2.5.2"
pycodestyle = "==2.9.1"
pyflakes = "==2.5.0"
pyparsing = "==3.0.9"
pytz = "==2022.2.1"
pyyaml = "==6.0"
six = "==1.16.0"
toml = "==0.10.2"
tomli = "==2.0.1"
virtualenv = "==20.16.3"
werkzeug = "==2.2.2"
pyjwt = "==2.4.0"

[dev-packages]

[requires]
python_version = "3.10"
